<div class="row mt-4">
    <h1 class="text-center">Create Vacancy</h1>
    <div class="col-4 mx-auto">
        <form action="/admin/createVacancy" method="post">
            <div class="col mb-3">
                <input class="form-control" type="text" placeholder="jobTitle" name="jobTitle" required>
            </div>
            <div class="col mb-3">
                <input class="form-control" type="text" placeholder="salary" name="salary" required>
            </div>
            <div class="col mb-3">
                <input class="form-control" type="text" placeholder="description" name="description" required>
            </div>
            <div class="col mb-3">
                <input class="form-control" type="text" placeholder="requirement" name="requirement" required>
            </div>
                <button class="btn btn-danger" type="submit">Create Vacancy</button>
            </div>
        </form>
    </div>
</div>