<div class="row mt-4">
    <h1 class="text-center">Delete Vacancy</h1>
    <div class="col-4 mx-auto">
        <form action="admin/deleteVacancy/<%=aidee%>?_method=delete" method="post">
            <div class="col mb-3">
                <h3>Job Title: <%=finding.jobTitle%></h3>
                <br>
                <p>Confirm delete this vacancy?</p>
            </div>
                <button class="btn btn-danger" type="submit" >Confirm</button>
            </div>
        </form>
    </div>
</div>

