<div class="row mt-4">
    <h1 class="text-center">Search</h1>
    <div class="col-4 mx-auto">
        <form action="/search" method="post">
            <div class="col mb-3">
                <input class="form-control" type="text" placeholder="jobTitle" name="jobTitle">
            </div>
                <button class="btn btn-danger" type="submit">Search</button>
            </div>
        </form>
    </div>
</div>
